<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan, arcu ac elementum efficitur, urna magna finibus sapien, id dictum neque elit nec nulla. Integer gravida odio eget ipsum vestibulum, vitae vulputate dolor pulvinar. Aenean at tortor id lorem hendrerit fermentum. Quisque vel varius justo. Suspendisse dapibus finibus dolor, eget malesuada velit vehicula nec. Vestibulum eget suscipit urna. Fusce ac volutpat felis, in efficitur justo. Nullam at purus nec urna egestas vulputate nec in tortor. Maecenas sed odio arcu. Aliquam erat volutpat. Ut rhoncus nisl non quam mattis, id porttitor felis tristique. Vestibulum mattis dapibus nibh, id rhoncus lacus facilisis et.\n

        </p>
        <p>
          Suspendisse potenti. Proin sit amet quam leo. Vivamus at tempor nisl, eget euismod lorem. Phasellus nec faucibus orci. Nulla accumsan, est nec suscipit finibus, felis nunc fermentum lacus, sed maximus purus purus eu purus. Etiam euismod interdum odio, ac volutpat sem accumsan non. Sed sagittis eros id odio sollicitudin, sit amet fermentum urna euismod. Fusce fermentum, sapien quis dignissim faucibus, nunc orci ultricies dolor, in egestas ligula nunc vel nibh. Pellentesque ullamcorper dui in velit fermentum, vel pretium lorem rhoncus. In in neque elit.
        </p>
        <p>
          Curabitur a turpis eu turpis tincidunt maximus. Donec varius sem eu nibh elementum, vitae cursus justo posuere. Etiam porttitor sit amet eros nec ultricies. Sed vel sapien sit amet odio sollicitudin accumsan at nec mi. Donec pretium ultricies quam, ut scelerisque justo dapibus et. Integer vel cursus velit, a fermentum magna. Praesent rhoncus feugiat tellus non hendrerit.
        </p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


