ion-toolbar ion-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  pointer-events: none;
}

ion-card {
  --background: var(--ion-color-secondary);
  color: white;
}

ion-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.habit-details-img {
  height: 450px;
  min-height: 300px;
  object-fit: contain;
}

.flex-centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.habit-name {
  color: white;
  font-size: 2rem;
}
