<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/habits"></ion-back-button>
    </ion-buttons>
    <ion-title>habit-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding flex-centered">
    <img [src]="habit.icon" class="habit-details-img" />
    <ion-card-header>
      <ion-card-title class="habit-name">{{habit.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Difficulty: {{habit.difficulty}} &nbsp;

      <ion-buttons>
        <ion-button fill="outline" shape="round" (click)="onDelete()">
          <ion-icon name="trash-outline"></ion-icon> Delete
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
