<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Habit_Today</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle>
          <ion-item routerLink="/profile">
            <ion-icon name="person-circle" slot="start"></ion-icon>
            <ion-label>My profile</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/about">
            <ion-icon name="document-text" slot="start"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/analytics">
            <ion-icon name="analytics-outline" slot="start"></ion-icon>
            <ion-label>Analytics</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/log-in">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Log out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Router outlet je tag unutar kojeg se prikazuje HTML stranica, sve iznad je recimo header, ispod footer -->
  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="habits">
        <!-- tab je jedinstveni identifikator-->
        <ion-icon name="happy-outline" aria-hidden="true"></ion-icon>
        <ion-label>Habits</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="habit-tracker">
        <ion-icon name="list-outline" aria-hidden="true"></ion-icon>
        <ion-label>Habit tracker</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="leaderboard">
        <ion-icon name="map-outline" aria-hidden="true"></ion-icon>
        <ion-label>Leaderboard</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
