ion-toolbar ion-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  pointer-events: none;
}
.avatar-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

ion-avatar {
  width: 120px;
  height: 120px;
}

