<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="avatar">
      </ion-avatar>
      <ion-label>
        <ion-card-title>{{ user.name }} {{ user.surname }}</ion-card-title>
        <ion-card-subtitle>Welcome to the profile page of your account.</ion-card-subtitle>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list>
      <ion-item>
        <ion-textarea [(ngModel)]="user.name" [disabled]="isDisabled" label="Name"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-textarea [(ngModel)]="user.surname" [disabled]="isDisabled" label="Surname"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-textarea [(ngModel)]="user.email" [disabled]="isDisabled" label="Email"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="user.password" [disabled]="isDisabled" type="password" label="Password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-button shape="round" (click)="toggleInput()" size="small">
          {{ isDisabled ? 'EDIT' : 'SAVE' }}
        </ion-button>
      </ion-item>
    </ion-list>

  </ion-list>
</ion-content>



